# Unify all commit authors under one GitHub account

Eman Nasr <emannasr2001@gmail.com> <eman.n@anasacademy.uk>
Eman Nasr <emannasr2001@gmail.com> <emannasr-0@users.noreply.github.com>
Eman Nasr <emannasr2001@gmail.com> <Eman-Nasr1@users.noreply.github.com>
