# Unify all commit authors under the main account (Eman-Nasr1)

Eman-Nasr1 <emannasr2001@gmail.com> <eman.n@anasacademy.uk>
Eman-Nasr1 <emannasr2001@gmail.com> <emannasr-0@users.noreply.github.com>
Eman-Nasr1 <emannasr2001@gmail.com> <Eman-Nasr1@users.noreply.github.com>
Eman-Nasr1 <emannasr2001@gmail.com> Eman Nasr <emannasr2001@gmail.com>
Eman-Nasr1 <emannasr2001@gmail.com> eman <emannasr2001@gmail.com>
